/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* LEGO CSS */
/* positioning */
/* line 5, ../sass/_utils.sass */
.p-a, #thank-you {
  position: absolute;
}

/* line 7, ../sass/_utils.sass */
.p-r, .main, #other-features .img-container, .remodal.form-container {
  position: relative;
}

/* line 9, ../sass/_utils.sass */
.p-f, #top-bar {
  position: fixed;
}

/* line 11, ../sass/_utils.sass */
.v-center {
  vertical-align: middle;
}

/* line 13, ../sass/_utils.sass */
.text-center, #coop, #labs {
  text-align: center;
}

/* line 15, ../sass/_utils.sass */
.block-center {
  margin: 0 auto;
}

/* line 17, ../sass/_utils.sass */
.w-full, #top-bar, #other-features .img-container, #other-features img, .remodal.form-container .submit {
  width: 100%;
}

/* line 19, ../sass/_utils.sass */
.h-full, .main, #coop {
  height: 100%;
}

/* line 22, ../sass/_utils.sass */
.ovh {
  overflow: hidden;
}

/* display */
/* line 27, ../sass/_utils.sass */
.d-b {
  display: block;
}

/* line 29, ../sass/_utils.sass */
.d-ib, .remodal.form-container .submit {
  display: inline-block;
}

/* line 31, ../sass/_utils.sass */
.d-i {
  display: inline;
}

/* line 33, ../sass/_utils.sass */
.d-t {
  display: table;
}

/* line 35, ../sass/_utils.sass */
.d-tc {
  display: table-cell;
}

/* ###color### */
/* line 40, ../sass/_utils.sass */
.white {
  color: white;
}

/* Text */
/* line 46, ../sass/_utils.sass */
.grey-1 {
  color: #333;
}

/* line 51, ../sass/_utils.sass */
.grey-2, .remodal.form-container label, .remodal.form-container input, .remodal.form-container textarea {
  color: #555;
}

/* line 56, ../sass/_utils.sass */
.grey-3 {
  color: #777;
}

/* Backgrounds */
/* floats */
/* line 72, ../sass/_utils.sass */
.pull-left {
  float: left;
}

/* line 75, ../sass/_utils.sass */
.pull-right {
  float: right;
}

/* line 78, ../sass/_utils.sass */
.clearfix {
  clear: both;
}

/* line 81, ../sass/_utils.sass */
.abs-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* spacing */
/* line 90, ../sass/_utils.sass */
.s-ps, body, .remodal.form-container input, .remodal.form-container textarea, .remodal.form-container .submit, #labs {
  padding: 10px;
}

/* line 92, ../sass/_utils.sass */
.s-pm, .content, .remodal.form-container .submit {
  padding: 20px;
}

/* line 96, ../sass/_utils.sass */
.s-pxl {
  padding: 50px;
}

/* line 99, ../sass/_utils.sass */
.s-pxxl, #other-features .img-container {
  padding: 100px;
}

/* line 102, ../sass/_utils.sass */
.s-ps-v {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 106, ../sass/_utils.sass */
.s-pm-v, .remodal.form-container .submit {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 110, ../sass/_utils.sass */
.s-pxl-v, .more, #other-features .img-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 117, ../sass/_utils.sass */
.s-ms-b, #coop h1.title, .remodal.form-container input, .remodal.form-container textarea {
  margin-bottom: 10px;
}

/* line 119, ../sass/_utils.sass */
.s-mm-b, .remodal.form-container h2.title, .remodal.form-container p {
  margin-bottom: 20px;
}

/* line 121, ../sass/_utils.sass */
.s-ml-b {
  margin-bottom: 90px;
}

/* Typography */
/* font-size */
/* line 139, ../sass/_utils.sass */
.t-uc {
  text-transform: uppercase;
}

/* line 141, ../sass/_utils.sass */
.t-lc {
  text-transform: lowercase;
}

/* line 144, ../sass/_utils.sass */
.t-1, .main h1.header {
  font-size: 160px;
}

/* line 146, ../sass/_utils.sass */
.t-2, #other-features h1.title, #coop h1.title {
  font-size: 72px;
}

/* line 148, ../sass/_utils.sass */
.t-3, .byline, .remodal.form-container h2.title {
  font-size: 36px;
}

/* line 150, ../sass/_utils.sass */
.t-4 {
  font-size: 26px;
}

/* line 152, ../sass/_utils.sass */
.t-5, .more, body, .remodal.form-container input, .remodal.form-container textarea {
  font-size: 20px;
}

/* line 154, ../sass/_utils.sass */
.t-6, .remodal.form-container label, .remodal.form-container .submit, #labs {
  font-size: 14px;
}

/* font-weight */
/* line 160, ../sass/_utils.sass */
.t-xlight {
  font-weight: 200;
}

/* line 162, ../sass/_utils.sass */
.t-light, .byline, .remodal.form-container h2.title, .remodal.form-container input, .remodal.form-container textarea {
  font-weight: 300;
}

/* line 164, ../sass/_utils.sass */
.t-regular, body {
  font-weight: 400;
}

/* line 166, ../sass/_utils.sass */
.t-medium, .more, .remodal.form-container label {
  font-weight: 600;
}

/* line 168, ../sass/_utils.sass */
.t-bold, .main h1.header, #other-features h1.title, #coop h1.title {
  font-weight: 700;
}

/* line 171, ../sass/_utils.sass */
.show-on-hover {
  display: none;
}

/* line 174, ../sass/_utils.sass */
.hover-trigger .show-on-hover {
  display: inline-block;
}

/* line 178, ../sass/_utils.sass */
.rounded-s, .remodal.form-container .submit {
  border-radius: 5px;
}

/* line 6, ../sass/screen.sass */
* {
  box-sizing: border-box;
}

/* line 19, ../sass/screen.sass */
.t-shadow, #intro .header {
  text-shadow: 0px 6px 10px #464646;
}

/* line 22, ../sass/screen.sass */
.r-borders {
  border-radius: 20px;
}

/* line 25, ../sass/screen.sass */
.more {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
/* line 33, ../sass/screen.sass */
.more:hover {
  color: #777;
}
/* line 37, ../sass/screen.sass */
.more i {
  color: #B9D200;
}
/* line 40, ../sass/screen.sass */
.more.white i {
  color: white;
}
/* line 42, ../sass/screen.sass */
.more.white:hover {
  color: #cccccc;
}

/* line 46, ../sass/screen.sass */
.content {
  width: 960px;
  margin: 0 auto;
}

/* line 56, ../sass/screen.sass */
body {
  line-height: 1.2;
  padding: 0;
  color: #555;
}

/* line 64, ../sass/screen.sass */
.pure-g [class*="pure-u"] {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 67, ../sass/screen.sass */
p {
  letter-spacing: -0.5px;
}

/* line 73, ../sass/screen.sass */
#top-bar {
  top: 0;
  height: 60px;
  z-index: 9;
}
/* line 80, ../sass/screen.sass */
#top-bar #logo {
  opacity: 0;
  transition: opacity 0.5s ease;
}
/* line 84, ../sass/screen.sass */
#top-bar #logo-white {
  opacity: 1;
  transition: opacity 0.5s ease;
}
/* line 87, ../sass/screen.sass */
#top-bar .img-container {
  width: 170px;
  padding: 5px;
}
/* line 92, ../sass/screen.sass */
#top-bar.reveal #logo {
  opacity: 1;
}
/* line 96, ../sass/screen.sass */
#top-bar.reveal #logo-white {
  opacity: 0;
}

/* line 104, ../sass/screen.sass */
.main {
  background: url(../images/header-image.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* line 117, ../sass/screen.sass */
#intro {
  height: 450px;
}
/* line 119, ../sass/screen.sass */
#intro .header {
  line-height: 1;
}

/* line 123, ../sass/screen.sass */
.byline {
  color: #479000;
  padding: 50px 50px 0 30px;
}

/* line 133, ../sass/screen.sass */
#main-features .img-container {
  min-height: 240px;
}

/* line 140, ../sass/screen.sass */
#other-features {
  background: #f3f3f3;
}
/* line 143, ../sass/screen.sass */
#other-features h1.title {
  letter-spacing: -3px;
}
/* line 148, ../sass/screen.sass */
#other-features p {
  color: #555;
}
/* line 151, ../sass/screen.sass */
#other-features .img-container {
  min-height: 190px;
}

/* line 162, ../sass/screen.sass */
#coop {
  color: white;
  background: #EA6C39;
}
/* line 175, ../sass/screen.sass */
#coop .abs-center {
  height: 300px;
}

/* line 194, ../sass/screen.sass */
.remodal.form-container input, .remodal.form-container textarea {
  background: #f3f3f3;
}
/* line 203, ../sass/screen.sass */
.remodal.form-container .submit {
  background: #EA6C39;
  border: none;
  color: white;
}
/* line 214, ../sass/screen.sass */
.remodal.form-container .submit:hover {
  background: #ff8e5b;
}

/* line 220, ../sass/screen.sass */
#labs {
  background: #431F00;
  color: #EA6C39;
}
/* line 227, ../sass/screen.sass */
#labs a {
  color: #EA6C39;
  text-decoration: none;
}
/* line 230, ../sass/screen.sass */
#labs a:hover {
  text-decoration: underline;
}

/* line 234, ../sass/screen.sass */
#thank-you {
  width: 86%;
  margin: 0 auto;
  opacity: 0;
  display: none;
}
/* line 240, ../sass/screen.sass */
#thank-you.reveal {
  display: block;
}

@media only screen and (orientation: landscape) and (max-device-width: 667px) {
  /* line 247, ../sass/screen.sass */
  #section-1 {
    background-attachment: scroll;
  }

  /* line 250, ../sass/screen.sass */
  #top-bar {
    background: rgba(255, 255, 255, 0.9);
    height: 35px;
    padding: 3px;
  }
  /* line 254, ../sass/screen.sass */
  #top-bar #logo {
    opacity: 1;
  }
  /* line 256, ../sass/screen.sass */
  #top-bar #logo-white {
    opacity: 0;
  }
  /* line 258, ../sass/screen.sass */
  #top-bar .img-container {
    width: 90px;
  }

  /* line 261, ../sass/screen.sass */
  #intro {
    height: 120px;
  }
  /* line 263, ../sass/screen.sass */
  #intro > .header {
    font-size: 48px;
  }
  /* line 265, ../sass/screen.sass */
  #intro > .header + p {
    font-size: 10px;
  }

  /* line 267, ../sass/screen.sass */
  .byline {
    font-size: 24px;
    padding: 0;
  }

  /* line 270, ../sass/screen.sass */
  .more {
    font-size: 10px;
    padding: 15px;
  }

  /* line 273, ../sass/screen.sass */
  .content {
    padding: 30px;
  }

  /* line 275, ../sass/screen.sass */
  .byline {
    font-size: 24px;
  }

  /* line 277, ../sass/screen.sass */
  .t-2, #other-features h1.title, #coop h1.title {
    font-size: 48px;
  }

  /* line 279, ../sass/screen.sass */
  #coop h1.title {
    font-size: 40px;
  }

  /* line 283, ../sass/screen.sass */
  #main-features .img-container {
    min-height: 0;
    padding: 10px 35px;
  }

  /* line 288, ../sass/screen.sass */
  #other-features .img-container {
    padding: 10px 0 0 0;
    width: 20%;
    float: left;
    min-height: 0;
  }
  /* line 294, ../sass/screen.sass */
  #other-features .desc-container {
    width: 80%;
    float: left;
    padding: 10px 10px 10px 20px;
    text-align: left;
  }
  /* line 299, ../sass/screen.sass */
  #other-features p {
    font-size: 16px;
  }

  /* line 301, ../sass/screen.sass */
  #coop {
    padding: 20px;
  }
  /* line 303, ../sass/screen.sass */
  #coop .abs-center {
    height: 180px;
  }
  /* line 305, ../sass/screen.sass */
  #coop .title {
    font-size: 36px;
  }
  /* line 307, ../sass/screen.sass */
  #coop p {
    font-size: 14px;
  }
}
@media only screen and (orientation: portrait) {
  /* line 317, ../sass/screen.sass */
  #top-bar {
    background: rgba(255, 255, 255, 0.9);
    height: 50px;
    padding: 3px;
  }
  /* line 321, ../sass/screen.sass */
  #top-bar #logo {
    opacity: 1;
  }
  /* line 323, ../sass/screen.sass */
  #top-bar #logo-white {
    opacity: 0;
  }
  /* line 325, ../sass/screen.sass */
  #top-bar .img-container {
    width: 140px;
  }

  /* line 329, ../sass/screen.sass */
  .t-2, #other-features h1.title, #coop h1.title {
    font-size: 48px;
  }

  /* line 331, ../sass/screen.sass */
  .s-pxl {
    padding: 25px;
  }

  /* line 333, ../sass/screen.sass */
  #section-1 {
    background-attachment: scroll;
  }

  /* line 335, ../sass/screen.sass */
  .content {
    padding: 20px;
  }

  /* line 337, ../sass/screen.sass */
  .byline {
    font-size: 24px;
    padding: 0;
  }

  /* line 340, ../sass/screen.sass */
  #intro {
    height: 250px;
  }
  /* line 342, ../sass/screen.sass */
  #intro > .header {
    font-size: 56px;
  }

  /* line 344, ../sass/screen.sass */
  #coop h1.title {
    font-size: 40px;
  }

  /* line 348, ../sass/screen.sass */
  #main-features .img-container {
    min-height: 180px;
  }

  /* line 352, ../sass/screen.sass */
  #other-features .img-container {
    padding: 10px 0 0 0;
    width: 20%;
    float: left;
    min-height: 0;
  }
  /* line 358, ../sass/screen.sass */
  #other-features .desc-container {
    width: 80%;
    float: left;
    padding: 10px 10px 10px 20px;
    text-align: left;
  }

  /* line 363, ../sass/screen.sass */
  #coop {
    padding: 20px;
  }
}
